body {
    text-align:center;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif; 
}

button,table,#game,body,td {
    margin: 40px auto 0 auto;
    background:#eee;
}

#game,#gameboard {
    width:620px;
}

#gameboard,.leg {
    background:#00f;
}

#gameboard,.leg,#gameboard td,#r {
    border:2px solid #009;  		
}

#gameboard td {
    width:76px;
    height:76px;
    border-radius:38px;			
}

#gameboard {
    padding:10px;
    border-spacing:4px;
    border-bottom-width:0;
    border-radius:12px 12px 0 0;
}

#gameboard .red {
    background:#f00;
}

#gameboard .yellow {
    background: black;
}

#r,#gameboard td {
    border-color:#333;
}

.leg {
    border-top-width:0;
    height:100px;
    width:20px;
    border-radius:0 0 12px 12px;
}

.left {
    float:left;
}

.right {
    float:right;
}

.yellow,.red,#gameboard,.leg {
    box-shadow: inset 0 0 20px rgba(100,100,100,0.6);
}

#n,#w,#a,#b {
    display:none;
}